{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %} {{ title }} :: {{ block.super }} {% endblock %}

{% block content %}
    <div class="container-md mb-5 mb-md-0">
        <div class="row">
            <div class="col-sm-5 col-md-4 col-lg-3">
                {% show_sidebar request %}
            </div>
            <div class="col-12 col-sm-7 offset-md-1">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>
    <footer>
        {% include 'inc/_footer.html' %}
    </footer>
{% endblock %}