{% extends 'main_app/base_main_app.html' %}

{% block main_content %}
    <h1 class="page-title">{{ title }}</h1>
    {% if task_list.count %}
        <div class="text-center">
            <p>Знайдено {{ task_list.count }} завдань</p>
        </div>
    {% endif %}
    <ul class="task-list list-unstyled">
        {% for task in task_list %}
            {% include 'main_app/inc/_single_task_at_list.html' %}
        {% empty %}
            <p class="text-center"><p>Завдань за даним запитом не знайдено...</p>
        {% endfor %}
    </ul>
{% endblock %}