{% extends 'main_app/base_main_app.html' %}

{% block main_content %}
    <div class="text-center">
        <h1 class="Main-head ps-2 mb-2">{{ title }}</h1>
        {% if category %}
            <button class="btn btn-link px-0 pt-2 float-end" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'update-category' category.pk %}"><i
                        class="fa-solid fa-pen-to-square"></i> Редагувати категорію</a></li>
                <li><a class="dropdown-item" href="{% url 'delete-category' category.pk %}"><i
                        class="fa-solid fa-trash"></i> Видалити категорію</a></li>
            </ul>
        {% endif %}
    </div>
    <div class="add-task text-center mb-3 d-none d-sm-block">
        <a class="nav-link d-inline" href="{% url 'add-task' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-plus-circle me-2" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Додати нове завдання
        </a>
    </div>
    <ul class="task-list list-unstyled">
        {% for task in task_list %}
            {% include 'main_app/inc/_single_task_at_list.html' with current_category=category %}
        {% empty %}
            {% if task_performed %}
                <p class="text-center fw-bold">Виконаних завдань немає</p>
            {% else %}
                <p class="text-center fw-bold">Немає запланованих завдань</p>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}