{% extends 'base.html' %}

{% block title %}{{ category.title }}: {{ block.super }}{% endblock %}

{% block content %}
    <div class="align-items-center pt-3 pb-2 mb-3 ms-5 me-5">
        <h1 class="Main-head">Завдання категорії "{{ category.title }}"</h1>
        <div style="display:flex; justify-content: end">
            <a id="task_edit" href="{% url 'update-category' category.pk %}">Редагувати категорію</a>
            <a id="task_delete" href="{% url 'delete-category' category.pk %}">Видалити категорію</a>
        </div>
        {% for task in task_list %}
            <div class="task border-bottom">
                <ul style="margin-bottom: 0">
                    <li class="task_title">{{ task.title }}</li>
                </ul>
                <p class="task_text"> {{ task.text }}</p>
                {% include 'main_app/inc/_task_button.html' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}







