{% extends 'base.html' %}
{% load sidebar %}
{% load crispy_forms_filters %}

{% block title %} {{ title }} :: {{ block.super }} {% endblock %}

{% block sidebar %}{% show_sidebar request %}{% endblock %}

{% block content %}
    <div class="layout-task-form">
        <h1 class="page-title mb-4">{{ title }}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-dark w-100" type="submit">Зберегти</button>
        </form>
    </div>
{% endblock %}