{% extends 'main_app/base_main_app.html' %}

{% block title %}{{ title }}: {{ block.super }}{% endblock %}

{% block main_content %}
    <div class="align-items-center pt-3 pb-2 mb-3 ms-5 me-5">
        <h1 class="Main-head">Завдання категорії "{{ category.title }}"</h1>
        <div style="display:flex; justify-content: end">
            <a id="task_edit" href="{% url 'update-category' category.pk %}">Редагувати категорію</a>
            <a id="task_delete" href="{% url 'delete-category' category.pk %}">Видалити категорію</a>
        </div>
        {% if task_list %}
            {% for task in task_list %}
                {% include 'main_app/inc/_single_task_at_list.html' %}
            {% endfor %}
        {% else %}
            <p class="no_task">На сьогодні всі завдання в категорії виконані.</p>
            <a href="{% url 'add-task' %}">Додайте нове завдання!</a>
        {% endif %}
    </div>
{% endblock %}