{% extends 'main_app/base_main_app.html' %}

{% block title %}{{ title }}: {{ block.super }}{% endblock %}

{% block main_content %}
    <div class="align-items-center pt-3 pb-2 mb-3 ms-5 me-5">
        <h1 class="Main-head">Завдання категорії "{{ category.title }}"</h1>
        <div style="display:flex; justify-content: end">
            <a id="task_edit" href="{% url 'update-category' category.pk %}">Редагувати категорію</a>
            <a id="task_delete" href="{% url 'delete-category' category.pk %}">Видалити категорію</a>
        </div>
        <div class="add-task text-center my-3 d-none d-sm-block">
            <a class="nav-link" href="{% url 'add-task' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-plus-circle me-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Додати нове завдання
            </a>
        </div>
        {% if task_list %}
            {% for task in task_list %}
                {% include 'main_app/inc/_single_task_at_list.html' %}
            {% endfor %}
        {% else %}
            <p class="no_task">На сьогодні всі завдання в категорії виконані.</p>
        {% endif %}
    </div>
{% endblock %}