{% extends 'base.html' %}

{% block title %}{{ title }}: {{ block.super }}{% endblock %}

{% block content %}
    <div class="align-items-center pt-3 pb-2 mb-3 px-5">
        <h1 class="Main-head">{{ title }}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Ввійти</button>
        </form>
        <div class="mt-3">
            <span>Немає акаунту?</span>
            <a href="{% url 'register' %}"><input type="button" name="Cancel" value="Реєстрація"></a>
        </div>
    </div>
{% endblock %}