<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">
                            <span data-feather="home"></span>
                            Всі завдання
                        </a>
                    </li>
                    {% for cat in category %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ cat.get_absolute_url }}">
                                <span data-feather="file"></span>
                                {{ cat.title }}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link ps-3" href="{% url 'add_category' %}">
                            <span data-feather="plus"></span>
                            Додати категорію
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
