.Main-head {
    color: #1b1b1b;
    font-family: 'Lobster';
    text-align: center;
}

.task{
    
}

.task_title {
    color: black;
    font-size: large;
}

.task_text {
    color: dimgrey;
    font-size: small;
}

.task_category {
    color: #2470dc;
}