<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        {% url 'tasks' as index %}
                        <a class="nav-link {% if index == request.path %}active{% endif %}" href="{% url 'tasks' %}">
                            <span data-feather="home"></span>
                            Всі завдання
                        </a>
                    </li>
                    {% for cat in category %}
                        <li class="nav-item">
                            <a class="nav-link {% if cat.get_absolute_url == request.path %}active{% endif %}"
                               href="{{ cat.get_absolute_url }}">
                                <span data-feather="list"></span>
                                {{ cat.title }}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="nav-item">
                        {% url 'add-category' as add_category %}
                        <a class="nav-link m-1 {% if add_category == request.path %}active{% endif %}"
                           href="{% url 'add-category' %}">
                            <span data-feather="plus"></span>
                            Додати категорію
                        </a>
                    </li>
                    <li class="nav-item border-top">
                        {% url 'performed-task' as performed_task %}
                        <a class="nav-link ps-3 {% if performed_task == request.path %}active{% endif %}"
                           href="{% url 'performed-task' %}">
                            <span data-feather="check-circle"></span>
                            Виконані завдання
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
