{% load sidebar %}
<nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                {% url 'tasks' as index %}
                <a class="nav-link {% if index == request.path %}active{% endif %}"
                   href="{% url 'tasks' %}">
                    <div>
                        <span data-feather="home"></span>
                        <span> Всі завдання </span>
                    </div>
                    <span>{% get_task_amount request.user as amount %}
                        {% if amount > 0 %}{{ amount }}{% endif %}</span>
                </a>
            </li>
            {% for cat in category %}
                <li class="nav-item">
                    <a class="nav-link {% if cat.get_absolute_url == request.path %}active{% endif %}"
                       href="{{ cat.get_absolute_url }}">
                        <div>
                            <span data-feather="list"></span>
                            <span>{{ cat.title }} </span>
                        </div>
                        <span>{% get_task_amount request.user cat.pk as amount %}
                                {% if amount > 0 %}{{ amount }}{% endif %}
                                </span>
                    </a>
                </li>
            {% endfor %}
            <li class="nav-item">
                {% url 'add-category' as add_category %}
                <a class="nav-link m-1 {% if add_category == request.path %}active{% endif %}"
                   href="{% url 'add-category' %}">
                    <div>
                        <span data-feather="plus"></span>
                        <span>Додати категорію</span>
                    </div>
                </a>
            </li>
            <li class="nav-item border-top">
                {% url 'performed-task' as performed_task %}
                <a class="nav-link ps-3 {% if performed_task == request.path %}active{% endif %}"
                   href="{% url 'performed-task' %}">
                    <div>
                        <span data-feather="check-circle"></span>
                        <span>Виконані завдання</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
