{% load sidebar %}

<aside class="sidebar">
    <div class="offcanvas-sm offcanvas-bottom" tabindex="-1" id="CategoriesSidebar"
         aria-labelledby="bdSidebarOffcanvasLabel">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title">Категорії завдань</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                    data-bs-target="#CategoriesSidebar"></button>
        </div>
        <div class="offcanvas-body py-1">
            <nav class="links w-100" aria-label="Categories navigation">
                <ul class="nav flex-column">
                    <li class="nav-item py-1">
                        {% url 'tasks' as path %}
                        <a class="nav-link{% if path == request.path %} active{% endif %}" href="{% url 'tasks' %}">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-house-door{% if path == request.path %}-fill{% endif %}"></i>
                                <span class="mx-3">Всі завдання</span>
                            </div>
                            <span>{% get_task_amount request.user as amount %}
                                {% if amount > 0 %}{{ amount }}{% endif %}</span>
                        </a>
                    </li>
                    {% get_task_amount request.user expired=True as amount %}
                    {% if amount > 0 %}
                        <li class="nav-item pb-1">
                            {% url 'expired' as path %}
                            <a class="nav-link{% if path == request.path %} active{% endif %}"
                               href="{% url 'expired' %}">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-exclamation-square{% if path == request.path %}-fill{% endif %}"></i>
                                    <span class="mx-3">Протерміновані завдання</span>
                                </div>
                                <span>{{ amount }}</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item pb-1">
                        {% url 'today' as path %}
                        <a class="nav-link {% if path == request.path %}active{% endif %}"
                           href="{% url 'today' %}">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-calendar-event{% if path == request.path %}-fill{% endif %}"></i>
                                <span class="mx-3"> Сьогодні </span>
                            </div>
                            <span>{% get_task_amount request.user today=True as amount %}
                                {% if amount > 0 %}{{ amount }}{% endif %}</span>
                        </a>
                    </li>
                    <li class="nav-item border-bottom pb-1">
                        {% url 'upcoming' as path %}
                        <a class="nav-link {% if path == request.path %}active{% endif %}"
                           href="{% url 'upcoming' %}">
                            <div class="d-flex align-items-center">
                               <i class="bi bi-calendar-week{% if path == request.path %}-fill{% endif %}"></i>
                                <span class="mx-3"> Майбутні </span>
                            </div>
                            <span>{% get_task_amount request.user upcoming=True as amount %}
                                {% if amount > 0 %}{{ amount }}{% endif %}</span>
                        </a>
                    </li>
                    {% for cat in category %}
                        <li class="nav-item pt-1">
                            <a class="nav-link{% if cat.get_absolute_url == request.path %} active{% endif %}"
                               href="{{ cat.get_absolute_url }}">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-list-check"></i>
                                    <span class="mx-3">{{ cat.title }}</span>
                                </div>
                                <span>{% get_task_amount request.user category=cat.pk as amount %}
                                {% if amount > 0 %}{{ amount }}{% endif %}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                    <li class="nav-item add-category py-1">
                        {% url 'add-category' as path %}
                        <a class="nav-link text-muted{% if path == request.path %} active{% endif %}"
                           href="{% url 'add-category' %}">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-plus fs-6"></i>
                                <span class="mx-3">Додати категорію</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item border-top py-1">
                        {% url 'performed-task' as path %}
                        <a class="nav-link {% if path == request.path %}active{% endif %}"
                           href="{% url 'performed-task' %}">
                            <div>
                                <i class="bi bi-check-circle{% if path == request.path %}-fill{% endif %}"></i>
                                <span class="mx-3">Виконані завдання</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>
