<li class="card task my-2 shadow">
    <div class="card-body">
        <div class="row">
            <div class="col d-flex align-items-center">
                {% if task.planned_date %}
                    <p class="task-date mb-2"><i class="fa fa-calendar-alt me-2"></i>{{ task.planned_date }}</p>
                {% endif %}
                <h6 class="task-title mb-0">{{ task.title }}</h6>
            </div>
            <div class="col-auto task-button d-flex align-items-center">
                {% if task.performed_date %}
                    <a id="task-ready" href="{% url 'recovery-task' task.id %}" data-bs-toggle="tooltip"
                       data-bs-html="true" title="Відновити завдання">
                        <span data-feather="corner-up-left"></span></a>
                {% else %}
                    <a id="task-ready" href="{% url 'perform-task' task.id %}" data-bs-toggle="tooltip"
                       data-bs-html="true" title="Виконати завдання">
                        <span data-feather="check"></span></a>
                {% endif %}
                <a id="task-edit" href="{% url 'edit-task' task.id %}" data-bs-toggle="tooltip"
                   data-bs-html="true" title="Редагувати завдання">
                    <span data-feather="edit-3" class="mx-4"></span></a>
                <button id="task-delete" data-bs-toggle="modal" class="btn btn-link my-0 py-0 ps-0"
                        data-bs-target="#task_delete_confirm_{{ task.id }}" title="Видалити завдання">
                    <span data-feather="trash"></span>
                </button>
                {% include 'main_app/inc/_modal_task_delete_confirm.html' %}
            </div>
        </div>
        {% if task.category and not current_category %}
            <a class="task-category d-inline-block mt-2 mb-0" href="{{ task.category.get_absolute_url }}">
                {{ task.category }}
            </a>
        {% endif %}
        {% if task.description %}
            <p class="task-description mt-2 mb-0"> {{ task.description }}</p>
        {% endif %}
        {% if task.performed_date %}
            <p class="task-perform mt-2 mb-0">Виконано!</p>
        {% endif %}
    </div>
</li>