<div class="task_button">
    {% if task.performed %}
        <a id="task_ready" href="{% url 'recovery-task' task.id %}" data-bs-toggle="tooltip"
           data-bs-html="true" title="Відновити завдання"><span
                data-feather="corner-up-left"></span></a>
    {% else %}
        <a id="task_ready" href="{% url 'perform-task' task.id %}" data-bs-toggle="tooltip"
           data-bs-html="true" title="Виконати завдання"><span
                data-feather="check"></span></a>
    {% endif %}
    <a id="task_edit" href="{% url 'edit-task' task.id %}" data-bs-toggle="tooltip"
       data-bs-html="true" title="Редагувати завдання"><span
            data-feather="edit-3"></span></a>
    <a id="task_delete" href="{% url 'delete-task' task.id %}" data-bs-toggle="tooltip"
       data-bs-html="true" title="Видалити завдання"><span
            data-feather="trash"></span></a>
</div>