{% load sidebar %}

<div class="d-block d-sm-none">
    {% block sidebar %}{% show_sidebar request %}{% endblock %}
</div>

<footer>
    <div class="footer container-md d-flex fixed-bottom justify-content-around align-items-center d-sm-none">
        <div class="add-task">
            {% url 'tasks' as path %}
            <a class="nav-link" href="{% url 'tasks' %}">
                <i class="bi bi-house-door{% if path == request.path %}-fill{% endif %} fs-2"></i>
            </a>
        </div>
        <div class="add-task">
            {% url 'add-task' as path %}
            <a class="nav-link" href="{% url 'add-task' %}{% if category %}?init_cat={{ category.pk }}{% endif %}">
                <i class="bi bi-plus-circle{% if path == request.path %}-fill{% endif %} fs-2"></i>
            </a>
        </div>
        <div class="d-flex sidebar-toggle">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#CategoriesSidebar"
                    aria-controls="CategoriesSidebar" aria-label="Toggle docs navigation">
                <i class="bi bi-list-check fs-2"></i>
            </button>
        </div>
    </div>
</footer>