/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

.content {
    margin-bottom: 50px;;
}

.max-w-1000 {
    max-width: 1000px;
    margin: 0 auto;
}

.max-w-750 {
    max-width: 750px;
    margin: 0 auto;
}

.layout-form {
    max-width: 400px;
    margin: 0 auto;
}

.layout-task-form {
    max-width: 500px;
    margin: 0 auto;
}

.btn-social,
.btn-social:hover,
.btn-social:active,
.btn-social:focus {
    color: black;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-social:hover,
.btn-social:active,
.btn-social:focus {
    background-color: rgba(220, 230, 255, 0.1);
    box-shadow: 0 0 7px 5px rgb(220, 230, 255);
}

.btn-social:active {
    background-color: rgba(220, 230, 255, 0.5);
    scale: 0.99;
}

a, a:hover {
    text-decoration: none;
}


.content .btn-link {
    color: #888888;
    text-decoration: none;
}

.content .btn-link:active,
.content .btn-link:focus,
.content .btn-link:hover {
    color: dimgrey;
}

.add-task:hover,
.sidebar-toggle:hover {
    transform: scale(1.03);
}

.toggle-search-button,
.toggle-search-button:focus {
    border: none;
    box-shadow: none;
    color: black;
}

.dropdown-item:active {
    background-color: #888888;
}

.bi:before {
    line-height: 1.25;
}

/*--------------------------------------------------------------
 * Navbar
--------------------------------------------------------------*/
.navbar {
    background-color: rgb(248, 248, 248);
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    font-family: 'Lobster', serif;
    font-weight: 500;
    font-size: 23px;
}

.navbar a {
    text-decoration: none;
    color: #000000;
}

.navbar .navbar-text {
    font-size: larger;
}

.navbar .navbar-text:hover {
    font-weight: 500;
}

.navbar i {
    font-size: large;
}

body a i:hover,
body a svg:hover,
body button i:hover,
body button svg:hover {
    transform: scale(1.1);
}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: #e0e0e0;
}

.nav-link.active, .nav-link:active {
    font-weight: bold;
}

/*--------------------------------------------------------------
 * Sidebar
--------------------------------------------------------------*/
.sidebar .nav-link {
    font-weight: 500;
    color: #2d2d2d;
    display: flex;
    justify-content: space-between;
}

.sidebar .nav-item.add-category .nav-link {
    font-size: smaller;
}

.sidebar .nav-item > .nav-link.active,
.sidebar .nav-item > .nav-link.active:hover {
    font-weight: 700;
    color: #000000;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.sidebar .nav-item > .nav-link:hover {
    background-color: #eaeaea;
    border-radius: 5px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar .offcanvas-bottom {
    height: max-content;
}

/*--------------------------------------------------------------
 * Main content
--------------------------------------------------------------*/

.page-title {
    color: #1b1b1b;
    font-family: 'Lobster', serif;
    text-align: center;
}

.task-title {
    font-weight: bold;
    font-size: small;
}

.task-date, .task-description {
    color: dimgrey;
    font-size: small;
    text-align: justify;
}

.task-category {
    color: #2470dc;
    font-size: small;
    text-decoration: none;
}

.errorlist li {
    color: red;
}

#task-ready {
    color: #54c72d;
}

#task-edit {
    color: #028c8c;
}

#task-delete {
    color: red;
}

.task-perform {
    color: red;
}

.delete-performed-tasks a {
    text-decoration: none;
    color: #888888;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


/*--------------------------------------------------------------
 * Footer
--------------------------------------------------------------*/

.footer {
    height: 50px;
    background-color: #f8f9fa;
    box-shadow: rgba(100, 100, 111, 0.1) 0 0 15px 0;
}