.add-task:hover,
.sidebar-toggle:hover {
    transform: scale(1.03);
}

/*
 * Navbar
 */
.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    font-family: 'Lobster', serif;
    font-weight: 500;
    font-size: 30px;
}

.navbar a {
    text-decoration: none;
    color: #000000;
}

.navbar a i {
    font-size: larger;
}

.navbar .navbar-text {
    font-size: larger;
}

.navbar .navbar-text:hover {
    font-weight: 500;
}

.navbar i:hover {
    transform: scale(1.2);
}

/*
 * Sidebar
 */
.sidebar .nav-link {
    font-weight: 500;
    color: #2d2d2d;
    display: flex;
    justify-content: space-between;
}

.sidebar .nav-item.add-category .nav-link {
    font-size: smaller;
}

.sidebar .nav-item > .nav-link.active,
.sidebar .nav-item > .nav-link.active:hover {
    font-weight: 700;
    color: #000000;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.sidebar .nav-item > .nav-link:hover {
    background-color: #eaeaea;
    border-radius: 5px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar .offcanvas-bottom {
    height: max-content;
}

/*
 * Main content
 */

.Main-head {
    color: #1b1b1b;
    font-family: 'Lobster', serif;
    text-align: center;
}

.task-title {
    font-weight: bold;
}

.task-text {
    color: dimgrey;
    font-size: small;
}

.task-category {
    color: #2470dc;
    text-decoration: none;
}

.errorlist li {
    color: red;
}

#task-ready {
    color: #54c72d;
}

#task-edit {
    color: #028c8c;
}

#task-delete {
    color: red;
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


/*
 * Footer
 */

.footer {
    height: 50px;
    background-color: #f8f9fa;
    box-shadow: rgba(100, 100, 111, 0.1) 0 0 15px 0;
}